@using WebStoreMVC.Models
@model WebStoreMVC.Dtos.ResponseDto<ProductSearchingModel>

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-products">
        <form asp-area="Admin" asp-controller="ProductsForAdmin" asp-action="GetAllProducts" method="get">
            <label for="searchString"></label>
            <input placeholder="Поиск" style="width: 240px" type="text" name="searchString" value="@ViewData["CurrentFilter"]"/>
            <input class="btn-primary" type="submit" value="Найти"/>
        </form>

        @*<div>
            <a style="color: gold" asp-action="GetAllProducts">Получить все продукты</a>
        </div>*@
        <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                <tr>
                    <th scope="col">&nbsp; Обновление товара</th>
                    <th scope="col">Id</th>
                    <th scope="col">Название товара</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Кол-во товара</th>
                    <th scope="col">Цвет</th>
                    <th scope="col">Article</th>
                    <th scope="col">&nbsp; Удаление товара</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Data.Products)
                {
                    <tr>
                        <td>
                            <a asp-area="Admin" asp-controller="ProductsForAdmin" asp-action="EditProduct" asp-route-id="@item.ProductId" class="btn btn-success">
                                Изменить
                            </a>
                        </td>
                        <td>@item.ProductId</td>
                        <td class="tm-product-name">@item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.Quantity</td>
                        <td>@item.Colour</td>
                        <td>@item.Article</td>

                        <td>
                            <a asp-area="Admin" asp-controller="ProductsForAdmin" asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-danger">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- table container -->
        <a asp-area="Admin" asp-controller="ProductsForAdmin" asp-action="PostProduct"
           class="btn btn-primary btn-block text-uppercase mb-3">
            Добавить новый товар
        </a>
        @*<button class="btn btn-primary btn-block text-uppercase">
            Delete selected products
        </button>*@
    </div>
</div>

<div class="store-filter clearfix">
    <ul class="pagination">

        @if (Model.Data.CurrentPage > 1)
        {
        <li class="page-item">
            <a class="page-link" asp-action="GetAllProducts" asp-route-searchString="@Model.Data.SearchString" asp-route-currentPage="@(Model.Data.CurrentPage - 1)" aria-label="Previous">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
        }
        @for (int i = Model.Data.StartedPage; i < @Model.Data.EndedPage; i++)
        {
        if (i == Model.Data.CurrentPage)
        {
        <li class="page-item active"><a class="active page-link" asp-action="GetAllProducts" asp-route-searchString="@Model.Data.SearchString" asp-route-currentPage="@i">@i</a></li>
        }
        else
        {
        <li class="page-item"><a class="page-link" asp-action="GetAllProducts" asp-route-searchString="@Model.Data.SearchString" asp-route-currentPage="@i">@i</a></li>
        }
        }
        @if (Model.Data.CurrentPage < Model.Data.TotalPages)
        {
        <li class="page-item">
            <a class="page-link" asp-action="GetAllProducts" asp-route-searchString="@Model.Data.SearchString" asp-route-currentPage="@(Model.Data.CurrentPage + 1)" aria-label="Next">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        }
    </ul>
</div>

@* Категори *@
@*<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Categories</h2>
        <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
                <tbody>
                <tr>
                    <td class="tm-product-name">Product Category 1</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 2</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 3</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 4</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 5</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 6</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 7</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 8</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 9</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 10</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 11</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
            Add new category
        </button>
    </div>
</div>*@
