@model  WebStoreMVC.Dtos.ResponseDto<List<ProductOrderModel>>

<style>
   body {
      font-family: sans-serif;
      margin: 0;
      padding: 20px;
   }

   .order-container {
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 5px;
   }

   .order-header {
      margin-bottom: 20px;
   }

   .order-header h2 {
      margin: 0;
   }

   .order-details {
      margin-bottom: 20px;
   }

   .order-details th {
      text-align: left;
      padding: 10px;
   }

   .order-details td {
      padding: 10px;
   }

   .order-items {
      margin-bottom: 20px;
   }

   .order-items table {
      width: 100%;
      border-collapse: collapse;
   }

   .order-items th {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: left;
   }

   .order-items td {
      border-bottom: 1px solid #ddd;
      padding: 10px;
   }

   .order-total {
      text-align: right;
      font-weight: bold;
   }
</style>

@if (User.Identity.IsAuthenticated)
{
    <div>
        @if (Model.Data != null)
        {
            <a asp-controller="Account" asp-action="ShowInfo">Изменить данные для доставки</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="ChangeInfo">Добавить данные для доставки</a>
        }
    </div>
    
    <br/>

    <div>
        <a asp-controller="Account" asp-action="ForgotPassword">Изменить пароль</a>
    </div>
    
}

<br/>

@if (Model.Data != null)
{
    <center>
        <h1 style="justify-content: center">Ваши заказы</h1>
    </center>
    <h2>Информация о товарах</h2>
    @foreach (var item in Model.Data)
    {
        <div class="order-container">
            <div class="order-header">
                <p>Номер заказа: <span id="order-id">@item.OrderId</span></p>
                <br/>
            </div>

            <div class="order-details">
                <table>
                    <tr>
                        <th>Адрес доставки:</th>
                        @{ var deliveryInfo = $"{item.City}, {item.Address}"; }
                        <td id="shipping-address">@deliveryInfo</td>
                    </tr>
                </table>
            </div>
            <div class="order-items">
                <table>
                    <thead>
                    <tr>
                        <th>Дата заказа</th>
                        <th></th>
                        <th>Название</th>
                        <th>Цвет</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        @{ var totalProductPrice = item.Price * item.Quantity; }
                        <td>@item.OrderDate</td>
                        <td id="item-image">
                            <img width="128"
                                 height="128" src="~/images/products/@item.Images" alt=""/>
                        </td>

                        <td id="item-name-1">@item.ProductName</td>
                        <td>@item.Colour</td>
                        <td id="item-price-1">@item.Price.ToString("C2") x 1</td>
                        <td id="item-quantity-1">@item.Quantity</td>
                        <td id="item-total-1">@totalProductPrice.ToString("C2")</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            @*
            <div class="order-total">
                <p>Итого: <span id="order-total-price">@item.TotalPrice.ToString("C2")</span></p>
            </div>*@
        </div>
    }
}
else
{
    <center>
        <h1 style="justify-content: center">У вас пока нет заказов</h1>
    </center>
}