@model WebStoreMVC.Dtos.ResponseDto<List<Product>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-area="Admin" asp-controller="Products" asp-action="GetAllProducts" method="get">
    <label for="searchString"></label>
    <input placeholder="Поиск" style="width: 240px" type="text" name="searchString" value="@ViewData["CurrentFilter"]"/>
    <input class="btn-primary" type="submit" value="Найти"/>
</form>

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                <tr>
                    <th scope="col">&nbsp; Обновление товара</th>
                    <th scope="col">Id</th>
                    <th scope="col">Название товара</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Кол-во товара</th>
                    <th scope="col">Цвет</th>
                    <th scope="col">Article</th>
                    <th scope="col">&nbsp; Удаление товара</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            <a asp-area="Admin" asp-controller="Products" asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-success">
                                Изменить
                            </a>
                        </td>
                        <td>@item.Id</td>
                        <td class="tm-product-name">@item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.Quantity</td>
                        <td>@item.Colour</td>
                        <td>@item.Article</td>

                        <td>
                            <a asp-area="Admin" asp-controller="Products" asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <!-- table container -->
        <a asp-area="Admin" asp-controller="Products" asp-action="PostProduct"
           class="btn btn-primary btn-block text-uppercase mb-3">
            Добавить новый товар
        </a>
        @*<button class="btn btn-primary btn-block text-uppercase">
            Delete selected products
        </button>*@
    </div>
</div>

@* Категори *@
@*<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
    <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Categories</h2>
        <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
                <tbody>
                <tr>
                    <td class="tm-product-name">Product Category 1</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 2</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 3</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 4</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 5</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 6</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 7</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 8</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 9</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 10</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="tm-product-name">Product Category 11</td>
                    <td class="text-center">
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
            Add new category
        </button>
    </div>
</div>*@