@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model WebStoreMVC.Dtos.ResponseDto<AllInfoProductModel>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">All Categories</a>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                    </li>
                    <li>
                        <a href="#">Headphones</a>
                    </li>
                    <li class="active">Product name goes here</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
    <div id="product-main-img">
        <div class="product-preview">
            <img src="~/images/products/@Model.Data.ProductInfo.Images" alt="">
        </div>

        @*<div class="product-preview">
								<img src="~/images/products/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="~/images/products/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img src="~/images/products/product08.png" alt="">
							</div>*@
    </div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
    <div id="product-imgs">
        <div class="product-preview">
            <img src="~/images/products/@Model.Data.ProductInfo.Images" alt="">
        </div>

        @*<div class="product-preview">
								<img src="~/images/products/product03.png" alt="">
							</div>

							<div class="product-preview">
								<img src="~/images/products/product06.png" alt="">
							</div>

							<div class="product-preview">
								<img src="~/images/products/product08.png" alt="">
							</div>*@
    </div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
    <div class="product-details">
        <h2 class="product-name">@Model.Data.ProductInfo.ProductName</h2>
        <div>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#">@Model.Data.RatingAmount Review(s) | Add your review</a>
        </div>
        <div>
            @{ decimal oldPrice = Model.Data.ProductInfo.Price + 1500; }
            <h3 class="product-price">
                @Model.Data.ProductInfo.Price.ToString("C2") <del class="product-old-price">@oldPrice.ToString("C2")</del>
            </h3>
            @*<span class="product-available">In Stock</span>*@
        </div>

        @*<div class="product-options">
            <label>
                Цвет
                <select class="input-select">
                    <option value="0">@Model.Data.ProductInfo.Colour</option>
                </select>
            </label>
        </div>*@

        <div class="add-to-cart">
            <div class="qty-label">
                Кол-во
                <div class="input-number">
                    <input type="number">
                    <span class="qty-up">+</span>
                    <span class="qty-down">-</span>
                </div>
            </div>
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Data.ProductInfo.ProductId" class="btn add-to-cart-btn ">Добавить в корзину<i class="fa fa-shopping-cart"></i></a>
        </div>

        <ul class="product-btns">
            <li>
                <a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-exchange"></i> add to compare</a>
            </li>
        </ul>

        <ul class="product-links">
            <li>Category:</li>
            <li>
                    //TODO 
            </li>
        </ul>

        <ul class="product-links">
            <li>Share:</li>
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>

    </div>
</div>
<!-- /Product details -->

<!-- Product tab -->
<div class="col-md-12">
<div id="product-tab">
@{ int pageTarget = Model.Data.CurrentPage; }
<!-- product tab nav -->

<ul class="tab-nav">
    @if (pageTarget <= 1)
    {
        <li class="active">
            <a data-toggle="tab" href="#tab1">Описание</a>
        </li>
    }
    else
    {
        <li>
            <a data-toggle="tab" href="#tab1">Описание</a>
        </li>
    }
    <li>
        <a data-toggle="tab" href="#tab2">Детали</a>
    </li>
    @if (pageTarget <= 1)
    {
        <li>
            @if (Model.Data.RatingAmount == null)
            {
                <a data-toggle="tab" href="#tab3">Отзывы (0)</a>
            }
            else
            {
                <a data-toggle="tab" href="#tab3"> Отзывы (@Model.Data.RatingAmount)</a>
            }
        </li>
    }
    else
    {
        <li class="active">
            @if (Model.Data.RatingAmount == null)
            {
                <a data-toggle="tab" href="#tab3">Отзывы (0)</a>
            }
            else
            {
                <a data-toggle="tab" href="#tab3"> Отзывы (@Model.Data.RatingAmount)</a>
            }
        </li>
    }
</ul>
<!-- /product tab nav -->

<!-- product tab content -->
<div class="tab-content">
<!-- tab1  -->
@if (pageTarget <= 1)
{
    <div id="tab1" class="tab-pane fade in active">
        <div class="row">
            <div class="col-md-12">
                <p>@Model.Data.ProductInfo.Description</p>
            </div>
        </div>
    </div>
}
else
{
    <div id="tab1" class="tab-pane fade in">
        <div class="row">
            <div class="col-md-12">
                <p>@Model.Data.ProductInfo.Description</p>
            </div>
        </div>
    </div>
}
<!-- /tab1  -->

<!-- tab2  -->
<div id="tab2" class="tab-pane fade in">
    <div class="row">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<!-- /tab2  -->

@if (pageTarget <= 1)
{
    <!-- tab3  -->
    <div id="tab3" class="tab-pane fade in">
        <div class="row">
            <!-- Rating -->
            <div class="col-md-3">
                <div id="rating">
                    <div class="rating-avg">
                        @if (Model.Data.MiddleRateAmount == null)
                        {
                            <a data-toggle="tab" href="#tab3">0</a>
                        }
                        else
                        {
                            <a>@Model.Data.MiddleRateAmount</a>
                        }
                        <div class="rating-stars">
                            @if (Model.Data.MiddleRateAmount == null)
                            {
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            }
                            else
                            {
                                for (int minStar = 0; minStar < Math.Ceiling(Model.Data.MiddleRateAmount); minStar++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                    </div>
                    <ul class="rating">
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            @{ var num5 = (double)Model.Data.FiveStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num5%;"></div>
                            </div>
                            <span class="sum">
                                <a>@Model.Data.FiveStarCount</a>
                            </span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num4 = (double)Model.Data.FourStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num4%;"></div>
                            </div>
                            <span class="sum">@Model.Data.FourStarCount</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num3 = (double)Model.Data.ThreeStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num3%;"></div>
                            </div>
                            <span class="sum">@Model.Data.ThreeStarCount</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num2 = (double)Model.Data.TwoStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num2%;"></div>
                            </div>
                            <span class="sum">@Model.Data.TwoStarCount</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num1 = (double)Model.Data.OneStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num1%;"></div>
                            </div>
                            <span class="sum">@Model.Data.OneStarCount</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Rating -->

            <!-- Reviews -->
            @if (Model.Data.UserReviews.Count() != 0)
            {
                <div class="col-md-6">
                    <div id="reviews">
                        @foreach (var reviews in Model.Data.UserReviews)
                        {
                            <ul class="reviews">
                                <li>
                                    <div class="review-heading">
                                        <h5 class="name">@reviews.UserName</h5>
                                        <p class="date">@reviews.ReviewDateTime</p>
                                        <div class="review-rating">
                                            @for (int minStar = 1; minStar <= @reviews.Rating; minStar++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>@reviews.ReviewDescription</p>
                                    </div>
                                </li>
                            </ul>
                        }

                        <ul class="reviews-pagination">
                            @if (Model.Data.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@(Model.Data.CurrentPage - 1)" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                            @for (int i = Model.Data.StartedPage; i < @Model.Data.EndedPage; i++)
                            {
                                if (i == Model.Data.CurrentPage)
                                {
                                    <li class="page-item active">
                                        <a class="active page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                            }
                            @if (Model.Data.CurrentPage < Model.Data.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@(Model.Data.CurrentPage + 1)" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div id="reviews">
                        <a>У товара нет отзывов</a>
                    </div>
                </div>
            }
            <!-- Review Form -->
            <div class="col-md-3">
                <div id="review-form">
                    <form class="review-form" asp-action="PostReview" asp-route-id="@Model.Data.ProductInfo.ProductId">
                        <button class="primary-btn">Оставить отзыв</button>
                    </form>
                </div>
            </div>
            <!-- /Review Form -->

        </div>
    </div>
    <!-- /tab3  -->
}
else
{
    <!-- tab3  -->
    <div id="tab3" class="tab-pane fade in active">
        <div class="row">
            <!-- Rating -->
            <div class="col-md-3">
                <div id="rating">
                    <div class="rating-avg">
                        @if (Model.Data.MiddleRateAmount == null)
                        {
                            <a data-toggle="tab" href="#tab3">0</a>
                        }
                        else
                        {
                            <a>@Model.Data.MiddleRateAmount</a>
                        }
                        <div class="rating-stars">
                            @if (Model.Data.MiddleRateAmount == null)
                            {
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            }
                            else
                            {
                                @for (int minStar = 0; minStar < Math.Ceiling(Model.Data.MiddleRateAmount); minStar++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                    </div>
                    <ul class="rating">
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            @{ var num5 = (double)Model.Data.FiveStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num5%;"></div>
                            </div>
                            <span class="sum">
                                <a>@Model.Data.FiveStarCount</a>
                            </span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num4 = (double)Model.Data.FourStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num4%;"></div>
                            </div>
                            <span class="sum">@Model.Data.FourStarCount</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num3 = (double)Model.Data.ThreeStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num3%;"></div>
                            </div>
                            <span class="sum">@Model.Data.ThreeStarCount</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num2 = (double)Model.Data.TwoStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num2%;"></div>
                            </div>
                            <span class="sum">@Model.Data.TwoStarCount</span>
                        </li>
                        <li>
                            <div class="rating-stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            @{ var num1 = (double)Model.Data.OneStarCount / Model.Data.RatingAmount * 100; }
                            <div class="rating-progress">
                                <div style="width: @num1%;"></div>
                            </div>
                            <span class="sum">@Model.Data.OneStarCount</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Rating -->

            <!-- Reviews -->
            @if (Model.Data.UserReviews.Count() != 0)
            {
                <div class="col-md-6">
                    <div id="reviews">
                        @foreach (var reviews in Model.Data.UserReviews)
                        {
                            <ul class="reviews">
                                <li>
                                    <div class="review-heading">
                                        <h5 class="name">@reviews.UserName</h5>
                                        <p class="date">@reviews.ReviewDateTime</p>
                                        <div class="review-rating">
                                            @for (int minStar = 1; minStar <= @reviews.Rating; minStar++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>@reviews.ReviewDescription</p>
                                    </div>
                                </li>
                            </ul>
                        }

                        
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                var scrollpos = localStorage.getItem('scrollpos');
                                if (scrollpos) window.scrollTo(0, scrollpos);
                            });

                            window.onbeforeunload = function(e) {
                                localStorage.setItem('scrollpos', window.scrollY);
                            };
                        </script>
                        
                        <ul class="reviews-pagination">
                            
                            @if (Model.Data.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@(Model.Data.CurrentPage - 1)" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                            @for (int i = Model.Data.StartedPage; i < @Model.Data.EndedPage; i++)
                            {
                                if (i == Model.Data.CurrentPage)
                                {
                                    <li class="page-item active">
                                        <a class="active page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@i">@i</a>
                                    </li>
                                }
                            }
                            @if (Model.Data.CurrentPage < Model.Data.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Product" asp-route-id="@Model.Data.ProductInfo.ProductId" asp-route-currentPage="@(Model.Data.CurrentPage + 1)" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div id="reviews">
                        <a>У товара нет отзывов</a>
                    </div>
                </div>
            }
            <!-- Review Form -->
            <div class="col-md-3">
                <div id="review-form">
                    <form class="review-form" asp-action="PostReview" asp-route-id="@Model.Data.ProductInfo.ProductId">
                        <button class="primary-btn">Оставить отзыв</button>
                    </form>
                </div>
            </div>
            <!-- /Review Form -->

        </div>
    </div>
    <!-- /tab3  -->
}

</div>
<!-- /product tab content  -->
</div>
</div>
<!-- /product tab -->
</div>
<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/images/products/product01.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name">
                            <a href="#">product name goes here</a>
                        </h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist">
                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                            </button>
                            <button class="add-to-compare">
                                <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                            </button>
                            <button class="quick-view">
                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                            </button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/images/products/product02.png" alt="">
                        <div class="product-label">
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name">
                            <a href="#">product name goes here</a>
                        </h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist">
                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                            </button>
                            <button class="add-to-compare">
                                <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                            </button>
                            <button class="quick-view">
                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                            </button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/images/products/product03.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name">
                            <a href="#">product name goes here</a>
                        </h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist">
                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                            </button>
                            <button class="add-to-compare">
                                <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                            </button>
                            <button class="quick-view">
                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                            </button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/images/products/product04.png" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name">
                            <a href="#">product name goes here</a>
                        </h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist">
                                <i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                            </button>
                            <button class="add-to-compare">
                                <i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                            </button>
                            <button class="quick-view">
                                <i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                            </button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->